@tailwind base;
@tailwind components;
@tailwind utilities;

table.table {
	width: 100%;
	border-collapse: collapse;
	table-layout: auto; /* 让列宽自动分配 */
	&.table-fixed {
		table-layout: fixed; /* 让列宽平均分配 */
	}
	tr {
		background-color: transparent;
		transition: 0.3s ease-in-out;
		&:hover {
			background-color: #fffbe6;
		}
	}
	td,
	th {
		width: 0;
		border: 1px solid transparent;
		padding: 0.75rem 0.5rem;
		line-height: 1;
	}
	&.table-small {
		td,
		th {
			padding: 0.25rem 0.5rem;
			font-size: 0.75rem;
		}
	}
	&.table-nowrap {
		td,
		th {
			white-space: nowrap;
		}
	}
	td {
		text-align: right;
	}
	&.th-left {
		th {
			text-align: left;
		}
	}
	th {
		text-align: center;
		font-weight: 600;
	}

	&.table-vertical {
		table-layout: fixed;
		tr {
			display: flex;
			border-bottom: 1px solid transparent;
		}
		th {
			background-color: #f8f8f8;
			border: none;
			* {
				text-align: left;
			}
		}
		th,
		td {
			&:first-child {
				width: 15rem;
				text-align: right;
			}
			text-align: left;
			width: 100%;
			border: none;
		}
	}
}

.crown {
	> .group {
		position: relative;
		&::before {
			position: absolute;
			right: -1rem;
			top: -2.3rem;
			content: "";
			width: 3rem;
			height: 3rem;
			background-image: url("../img/crown.png");
			background-size: contain;
			transform: rotate(30deg);
			background-repeat: no-repeat;
		}
	}
}

.csv_swiper {
	.swiper-button-next,
	.swiper-button-prev {
		background-color: #fff;
		color: #7f715c;
		box-shadow: 20px 20px 60px #58667d5e;
		border-radius: 100%;
		width: 40px;
		height: 40px;
		line-height: 40px;
		&::after {
			font-size: 16px;
		}
	}
	.swiper-button-next {
		right: 10px;
	}
	.swiper-button-prev {
		left: 10px;
	}

	.swiper-pagination-bullet {
		width: 8px;
		height: 8px;
		border-radius: 100px;
		background-color: var(--theme-palette-color-7, #ffffff);
		transition: width 0.4s ease-out;
		margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
		&-active {
			width: 24px;
		}
	}
}
